## Download Dataset

In this notebook we will use the version of the dataset that lends itself well to classification tasks. You can download it here - the `elephant_rumbles.zip`. **[Please note: this is not yet shared publicly, for internal use only]** Please place it in the root of this folder.

This dataset consists of 314 annotated calls.

In [1]:
mkdir data

In [2]:
!cp elephant_rumbles.zip data/
!cd data && unzip -q elephant_rumbles.zip

And we now have everything that we need!

In [3]:
ls data

annotations.csv  audio/  elephant_rumbles.zip

The `annotations.csv` file contains label information with each file being referred by its name.

In [4]:
import pandas as pd

pd.read_csv('data/annotations.csv').head()

,Year,Tape,ElapsedTime,Type,ContextType,QR1,AgeCaller,AgeClassCaller,SexCaller,Callers,QR2,Meters,Directed to,FieldNotes,SndFile
0,1999.0,3.0,1552.0,rumble,lets go,A,54.0,5,Female,Echo,A,15.0,NaN,note that she give sharp ear flap first - this...,B0301552
1,1999.0,9.0,2708.0,rumble,female chorus,A,54.0,5,Female,Echo,A,10.0,NaN,as tested by Masaku; and another rumble here ...,B0902708
2,1999.0,20.0,2134.0,rumble,cadenced,A,54.0,5,Female,Echo,A,20.0,NaN,NaN,B2002134
3,1999.0,20.0,2222.0,rumble,cadenced,A,54.0,5,Female,Echo,A,20.0,NaN,Echo is in the lead facing OTO,B2002222
4,1999.0,20.0,2331.0,rumble,cadenced,A,54.0,5,Female,Echo,A,40.0,NaN,NaN,B2002331